.App {
  /*height: 100vh;*/
  /*height: var(--app-height);*/
  width: 100%;
  min-height: 500px;
  min-height: -webkit-fill-available;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  position: relative;
}