:root {
  --doc-height: 100%;
 }

.App {
  height: 100vh; /* fallback for Js load */
  height: var(--doc-height);
  width: 100%;
  min-height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #15263F;
  position: relative;
}